/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
*{
    
   
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #1D3557;
}

h1,h2,h3{
    font-family: 'Catamaran', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
img {
    width: 100px;
}

/* Main Header - hero */

#main__header{
    width: 100%;
    height: 350px;
    background-image: url(images/herat.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F1FAEE;
}
.main__header--hero{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
        background: rgba(152, 139, 139, 0.17);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        /* border: 1px solid rgba(152, 139, 139, 0.3); */
}
.main__header--hero__title{
    background-color: #1D3557;
    font-size: 32px;
    font-weight: 800;
    padding: 5px 12px;
    border-radius: 10px;
}
.main__header--hero__subtitle{
    font-weight: 600;
    padding: 8px 25px;
}
.activities__section{
    background: #F1FAEE;
    color: #1D3557;
    padding: 40px 0;
}
.activity__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items:center;
    row-gap: 10px;
}
.activities__headline{
    font-size: 24px;
    font-weight: 800;
}
.activity__items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
.activity__card{
    /* flex: 1; */
    flex-basis: 300px;
    /* padding: 10px 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.activity__card--img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.activity__card--title{

}
.activity__card--info{
    /* padding: 0 40px; */
    /* width: 50%; */
    text-align: center;
}

.card__guid{
    width: 400px;
    background-color: #A8DADC;
    margin: 20px auto;
    display: flex;
    flex-direction: row-reverse;
    color: #1D3557;
    padding: 23px 13px;
    border-radius: 10px;
}
.card__guid--content{
    flex-basis: 60%;
    text-align: center;
}
.card__guid--img{
    flex-basis: 40%;

}
footer{
    background-color: #F1FAEE;
    text-align: center;
    padding: 40px 0;
}
